<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvUr0U2f9mZQ7uaFOXzFlurwEM1MTOWhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>512596059510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webProject1</string>
	<key>PROJECT_ID</key>
	<string>wallapp-e62df</string>
	<key>STORAGE_BUCKET</key>
	<string>wallapp-e62df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512596059510:ios:b14c8f38751934b7584657</string>
</dict>
</plist>